
/************************************
MASTER LAYOUT
************************************/
body  {
  margin: 0 auto;
  color: gray;
  font-family: 'Inter', sans-serif;
}

main {
  margin: auto;
  padding: 3%;
  max-width: 1000px;
}

h1, h2, h3, h4, h5, h6, p {
  color: #121212;
}

h1 {
  font-weight: 600;
  padding: 1% 0;
  font-size: 2.4rem;
  letter-spacing: -0.6px;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
}

h3 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 2;
  letter-spacing: .8px;
}
p {
  font-size: 14px;
}
img {
  width: 100%;
}
a {
  color: gray;
  text-decoration: none;
  padding-bottom: 3px;
}

a:hover, button:hover {
  cursor: pointer;
}

button {
  background-color: white;
  border-radius: 2.3rem;
  border: 2px solid #FF5733;
  color: #FF5733;
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 3% 0;
  padding: 1rem 2rem;
  text-transform: uppercase;
}

button:hover {
  transition: 300ms;
  color: white;
  background-color: #FF5733;
}
button:active {
  font-style: italic;
}
p, li {
  font-size: 1rem;
}
footer {
  height: 250px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e56849;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  padding: 3%;
  color: white;
  font-size: 14px;
}
footer a {
  color: white;
  text-decoration: none;
  padding: 1% 0;
  border-bottom: 1px solid white;
}
footer a:hover {
  border-bottom: 1px solid white;
  transition: 250ms;
  font-style: italic;
}
input {
  background-color: white;
  border: 2px solid gray;
  border-radius: 8px;
  height: 1.5rem;
}

/************************************
Reusable STYLES
************************************/ 
.italic {
  font-style: italic;
}
.inline-link {
  color: #121212;
}
.inline-link:hover {
  color: rgb(255,87,51);
  transition: 300ms ease-in;
}
.center {
  text-align: center;
}
/************************************
ABASHED POEM STYLES
************************************/ 

#abashed-poem {
  max-width: 450px;
  margin-right: 0;
  font-family: 'times new roman', serif;
}
@media screen and (min-width: 800px) {
  #abashed-poem {
    display: grid;
    grid-template-rows: repeat(1fr, 29);
    grid-template-columns: 1fr 1fr 1fr 1fr;

    width: 650px;
    margin: 1% auto;
  }
}

.break {
  padding-bottom: 1rem;
}
@media screen and (min-width: 800px) {
  .break {
    padding-bottom: 0;
  }

  .sft-pdng {
    padding-left: .8rem;
  }
}

#abashed-poem p {
  margin: 1% 0;
}
.span-all {
  grid-column-start: 1;
  grid-column-end: 5;
}
.col-3 {
  grid-column-start: 3;
  grid-column-end: 3;
}
.col-2-4 {
   grid-column-start: 2;
    grid-column-end: 5;
}
.col-3-4 {
   grid-column-start: 3;
    grid-column-end: 5;
}
.col-2 {
  grid-column-start: 2;
  grid-column-end: 2;
}
#date {
  font-style: italic;
  padding: 1.4rem 0;
  color: black;
}
.rght-algnd {
  justify-self: end;
}

/************************************
REVEAL POEM STYLES
************************************/
.reveal {
  padding: 2% 0;
}
@media screen and (min-width: 850px) {
  .reveal {
    display: grid;
    grid-template-columns: 2fr 1.2fr .8fr;
    margin: 1rem 0;
  }
}
.revealio {
  padding: 1.1rem 2rem;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 600;
  color: white;
}

.revealio:hover {
  background-color: rgba(255,87,51,.9);
}

.revealio, #div1 {
  background-color: #FF5733;
}

#div1 p, #div2 p, #div3 p, #div1 h4, #div2 h4, #div3 h4 {
  color: white;
  padding: 0 4%;
}
#div1 p, #div2 p, #div3 p {
  font-size: 14px;
  line-height: 1.5;
}
#div1 h4, #div2 h4, #div3 h4 {
  font-size: 1.3rem;
  font-weight: 500;
  font-style: italic;
}
#div1, #div2, #div3 {
  padding: 1% 2%;
}
#div2 {
  background-color: rgba(255,87,51,.8);
}
#div3 {
  background-color: rgba(255,87,51,.5);
}

/************************************
HIDE a poem STYLES
************************************/ 

.example {
  background-color: white;
  width: 80%;
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 4%;
  margin: 5% 0;
}
.btn {
}
.red {
  color: #FF5733;
}
.red:hover {
  cursor: progress;
}
.hide-me {
  padding: 1%;
  font-size: 14px;
}
.hide-me:hover {
  cursor: url("../imgs/delete.png"), auto;
  color: white;
}
/************************************
EXPERIMENT STYLES
************************************/ 
#form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: .2rem;
  max-width: 375px;
}

.p {
  justify-self: start;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 900px) {
  #form {
    max-width: 600px;
    grid-template-columns: 1fr 3fr;
    grid-gap: .2rem;
  }
  
  .i {
    justify-self: start;
    width: 100%;
  }
}
.label-play {
  margin: 10% 0;
  padding: 5% 1%;
  border: 1px solid lightgray;
}
.thing {
  background-color: #d9f1ff;
  color: #009dff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .7px;
  padding: 8px 14px;
  display: inline;
  margin: 3rem 0;
  border-radius: 1.5rem;
}
.thing:hover {
  cursor: pointer;
}
.active-label {
  background-color: #bfe6ff;
}

#doThis {
  font-size: 1rem;
}

/**/
#chat {
  width: 75%;
  padding: 1%;
  margin: 0 auto;
  font-size: 1rem;
}
.rndm-pm {
  max-width: 400px;
  margin: 2% auto;
  text-align: center;
}

.message {
  max-width: 450px;
  padding: 1%;
  color: #050505;
  font-family: "Georgia", serif;
  margin: auto;
}
.reply {
  max-width: 450px;
  padding: 1%;
  color: #050505;
  font-family: "Georgia", serif;
  margin: auto; 
  text-align: right;
}

